.button-menu {
    padding: 500px;
}

.sidebar-section Botton{
    padding: 50px 50px 50px 50px;
    background-color: chartreuse;
}
.sidebar-section .button{
    padding: 50px 50px 50px 50px;
    background-color: chartreuse;
}